[submodule "apache2"]
	path = apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "graphite"]
	path = graphite
	url = https://github.com/adamvduke/chef-graphite.git
[submodule "python"]
	path = python
	url = https://github.com/opscode-cookbooks/python.git
[submodule "runit"]
	path = runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "networking_basic"]
	path = networking_basic
	url = https://github.com/adamvduke/networking_basic.git
[submodule "node"]
	path = node
	url = https://github.com/adamvduke/cookbook-node.git
